<h1 class="text-center" style="margin-top: 4rem;">Lattianpäällystys</h1>

<main class="md:flex md:items-center">
  <img src="assets/reference.jpeg" alt="image" />

  <app-container class="relative">
    <section class="bg-white rounded-sm p-2 mb-4 mt-[-1rem] md:ml-[-5rem]">
      <h1 class="text-center md:text-left font-bold">Asennuspalvelut</h1>
      <p>
        Asennamme lattianpäällysteitä esimerkiksi yritystiloihin, toimistoihin,
        laivoihin, hotelleihin, kouluihin ja yksityiskoteihin.
      </p>
    </section>
  </app-container>
</main>
