<main class="flex-row align-center-center">
  <section>
    <app-logo [size]="'m'"></app-logo>
    <p>
      With our Experience of over 25+ Years in the Industry, the company is
      highly skilled and is equipped with the best of facilities to match all
      High Quality Moving Standards.
    </p>

    <h2>Our services</h2>
    <div class="divider"></div>
    <div class="services-wrapper">
      <p>Wprehousing</p>
      <p>Jeess</p>
      <p>Nimimdiid</p>
      <p>Jududui</p>
    </div>

    <h2>Contact details</h2>
    <div class="divider"></div>

    <div class="flex-column">
      <div class="flex-row align-start-center">
        <mat-icon>call</mat-icon>
        <p style="padding-left: 5px">050 911 0686</p>
      </div>
      <div class="flex-row align-start-center" style="padding: 10px 0px">
        <mat-icon>location_on</mat-icon>
        <p style="padding-left: 5px">Sysmäläntie 2</p>
      </div>
      <div class="flex-row align-start-center">
        <mat-icon>mail</mat-icon>
        <p style="padding-left: 5px">janne.katka&#64;ahmalattiat.fi</p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <p class="copyright">&copy; Ahmalattiat 2023 All Right Reserved.</p>
  </section>
</main>
