@use "../../styles/variables/" as *;

span {
  color: var(--primary-color);
}

.text-center {
  text-align: center;
}

.divider {
  height: 2px;
  width: 80px;
  background-color: var(--primary-color);
  margin: 20px 0; /* Adjust spacing as needed */
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.list {
  margin-top: 2rem;
  p {
    margin: 0;
    padding-left: 5px;
  }
  mat-icon {
    color: var(--primary-color);
  }
}
