span {
  color: #228dcb;
}

.text-center {
  text-align: center;
}

.divider {
  height: 2px;
  width: 80px;
  background-color: #228dcb;
  margin: 20px 0; /* Adjust spacing as needed */
}

img {
  width: 100%;
  height: auto;
  display: block;
}
