<app-wrapper>
  <h2 class="text-center">
    We provide the best suggestions for
    <span>Logistics and Transposition</span> in town Go beyond logistics, make
    the world go round and revolutionize business.
  </h2>

  <main class="flex-row align-center-center">
    <div class="divider"></div>
  </main>

  <h2 style="margin-top: 40px">
    Welcome to the MyLogistics And Transportation
    <span>25+ Years of Experience in logistics services</span>
  </h2>

  <p>
    Mylogistics is a Leading Provider of Quality Packers And Movers in world.
    With our Experience of over 25+ Years in the Industry, the company is highly
    skilled and is equipped with the best of facilities to match all High
    Quality Moving Standards. We constantly delivering the best is taken care of
    with the help of our Products Durability, Products Comfort and Products
    Attractiveness.We offer a wide range of Moving And Packing, logistics,
    transportation Upholestery Services in all over the world.
  </p>

  <img
    style="margin-top: 60px"
    src="assets/images/hero-banner-2.jpg"
    alt="work image"
  />

  <ul>
    <li>4 years material warranty.</li>
    <li>1000+ projects has been completed.</li>
    <li>4 years material warranty.</li>
    <li>1000+ projects has been completed.</li>
  </ul>
</app-wrapper>
