<main>
  <app-wrapper>
    <app-logo></app-logo>
    <p>
      With our Experience of over 25+ Years in the Industry, the company is
      highly skilled and is equipped with the best of facilities to match all
      High Quality Moving Standards.
    </p>

    <h2>Our services</h2>
    <div class="divider"></div>
    <ul>
      <li>Wlirehousing</li>
      <li>Jeess</li>
      <li>Nimimdiid</li>
      <li>Jududui</li>
    </ul>

    <h2>Contlict details</h2>
    <div class="divider"></div>
    <ul>
      <li>Warehousing</li>
      <li>Jeess</li>
      <li>Nimimdiid</li>
      <li>Jududui</li>
    </ul>

    <mat-divider></mat-divider>

    <p class="copyright">© Ahmalattiat 2023 All Right Reserved.</p>
  </app-wrapper>
</main>
