<footer>
  <app-footer-questions (openContactDialog)="this.openContactDialog.emit()"></app-footer-questions>

  <section class="footer-info py-5 px-4 md:flex md:justify-between">
    <div class="md:flex-auto md:max-w-[33%]">
      <h1 class="text-base text-orange">TIETOA MEISTÄ</h1>
      <mat-divider></mat-divider>
      <div class="py-2">
        <p class="text-dwhite">Kaunis ja hauras niityn kukka</p>
        <p class="text-dwhite">aina kunnes lumi maan valkeaa</p>
      </div>
    </div>

    <div class="md:flex-auto md:max-w-[33%]">
      <h1 class="text-base text-orange">YHTEISTIEDOT</h1>
      <mat-divider></mat-divider>
      <div class="py-2">
        <p class="text-dwhite">+358 503431613</p>
        <p class="text-dwhite">janne.katka@ahmalattiat.fi</p>
      </div>
    </div>

    <div class="md:flex-auto md:max-w-[33%]">
      <h1 class="text-base text-orange">OSOITETIEDOT</h1>
      <mat-divider></mat-divider>
      <div class="py-2">
        <p class="text-dwhite">irrinkuja 72</p>
        <p class="text-dwhite">40100 Jyväskylä</p>
      </div>
    </div>
  </section>
</footer>
