<div class="image-container">
  <img [@zoomIn] src="assets/images/hero-banner-3.jpg" alt="Background Image" />
  <div [@imageTransition] class="overlay-text">
    <h2>Askoko qoius poazk poispo a.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
      dolorem distinctio a similique, quae provident quidem? Molestiae esse amet
      perferendis dolorum sit aliquid, harum unde autem sed soluta. Dolor rem
      quos quo consequatur dolorum harum quibusdam eum assumenda cupiditate vel
      nostrum ex sunt recusandae repudiandae
    </p>
  </div>
</div>
