<main>
  <app-container>
    <app-top-bar-heading></app-top-bar-heading>

    <div fxLayout="column" fxLayoutAlign="center center" class="mt-52">
      <p class="text-center text-white text-4xl font-bold md:text-6xl">
        Parhaat lattiat mitä rahalla saa
      </p>

      <p class="margin-top text-xl mt-20 text-center text-white md:text-xl md:mt-8">
        Teemme hyvään ja luotettavaa työtä. Asiakas tyytyväisyys on
        <span class="text-xl text-center text-orange md:text-xl"
          >pää asiamme</span
        >
      </p>
    </div>
  </app-container>
</main>
